{
    "extends": [
        "@tinkoff/eslint-config/app",
        "@tinkoff/eslint-config-react",
        "plugin:@tinkoff/tramvai/recommended"
    ],
    "rules": {
        "promise/catch-or-return": "off"
    }
}
