.bsp
.idea
.idea_modules
.ensime
.ensime_cache/
*.sublime-project
*.sublime-workspace
target/
.DS_Store
**/main/resources/local.conf
keys/private
.metals
scalafix-commons.conf
.vscode
.bloop
**/project/metals.sbt
.sbt-cache
node_modules
dist
.fleet
