.root {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  word-break: break-word;
  cursor: pointer;
}

.block {
  &:last-child {
    min-width: 100px;
    margin-left: 16px;
    text-align: right;
  }

  & > * + * {
    margin-top: 4px;
  }
}

.tags {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 30rem;

  & > * {
    margin-left: 4px;
  }
}
