.root {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  word-break: break-word;
}

.block {
  &:last-child {
    min-width: 100px;
    margin-left: 16px;
    text-align: right;
  }

  & > * + * {
    margin-top: 4px;
  }
}

.tags {
  & > * + * {
    margin-left: 4px;
  }
}
